@import '../01-base/01-base';

// img
@import './update-img';

// Button
@import './update-btn';

.update{
    margin: 0 0 10em 0; 
    padding: 7em 0 6em 0;
    background: $secondary;
    &__header{
        margin: 0 0 -8px -4px;
        width: 12em;
        text-align: center;
        transform: skewX(10deg);
            h3{
                font-family: $heading-font;
                color:$white;
                background: $delta;
                padding: 0.3em 0em;

                // max-width: 575px;
                @include xs-screen{
                    font-size: 1em;
                };
            }

        // max-width: 575px;
        @include xs-screen{
            width: 6em;
        };
    }
    &__nav{
        &-link{
            background: $white;
            padding: 2em 0 2.5em 1.5em;

            // max-width: 575px;
            @include xs-screen{
                position: absolute;
                margin: 16em 0 0 3em;
            };

            // min-width: 568px;
            @include iphn-screen{
                position: absolute;
                margin: 17em 0 0 9em;
            };

            // min-width: 768px;
            @include md-screen{
                margin: -2em 0 -2em 2em;
                background: none;
            };

            // min-width: 992px;
            @include lg-screen{
                margin: -2em 0 -2em 3em;
            };

            // min-width: 1200px;
            @include xl-screen{
                margin: -2em 0 -2em 9em;
            };
                a{
                    margin: 0 1em;
                    text-decoration: none;
                    color: $white !important;
                    transition: all 0.2s ease-in;
                        &:hover{
                            color: $primary !important;
                            transition: all 0.2s ease-in;
                        }

                    // max-width: 575px;
                    @include xs-screen{
                        color: $black !important;
                    } 

                    // min-width: 568px;
                    @include iphn-screen{
                        color: $black !important;
                    } 

                    // min-width: 768px;
                    @include md-screen{
                        color: $white !important;
                    } 
                }
        }
        &-btn{
            border: none;
            margin: -0.4em 0 -0.25em 7em;
            padding: 0 0;
                &:focus{
                    outline: none;
                }

            // min-width: 568px;
            @include iphn-screen{
                margin: -0.4em 0 -0.75em 12em;
            };

            // min-width: 768px;
            @include md-screen{
                margin: -0.4em 0 0.25em 7em;
            };
        }
    }
    .show{
        z-index: 1;
    }
    .active{
        color: $primary !important;//ayta default base akta class deya e ase.ame just color delam
    }
    .card{
        border: none;
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
    &__border{
        border-bottom: 1px solid rgba(217, 217, 217, 0.4);
    }
    #left{
        float: right;
    }
    &__body{
        display: inline-block;
        width: 13em;
        text-align: right;
        
        // max-width: 320px;
        @include xxs-screen{
            transform: translate(-3.5em, -1em);
            width: 6em;
        };
        
        // max-width: 575px;
        @include xs-screen{
            transform: translate(-4.4em, -1em);
            width: 6em;
        };
        
        // min-width: 568px;
        @include iphn-screen{
            transform: translate(-4.4em, 0em);
            width: 9em;
        };

        // min-width: 768px;
        @include md-screen{
            // width: 12em;
            width: 13em;
            transform: translate(-4.4em, 1em);
        };

        // min-width: 992px;
        @include lg-screen{
            width: 7em;
            transform: translate(-4.4em, -1em);
        };

        // min-width: 1200px;
        @include xl-screen{
            width: 11em;
            transform: translate(-4.4em, -0.9em);
        };
        a{
            margin: 0 0 1em 0;
            color: $white;
            text-decoration: none;
            font-size: 1.3em;
            font-family: $heading-font;

            // max-width: 575px;
            @include xs-screen{
                font-size: 0.8em;
            }; 

            // min-width: 568px;
            @include iphn-screen{
                font-size: 1.3em;
            };

            // min-width: 992px;
            @include lg-screen{
                font-size: 1em;
            }; 

            // min-width: 1200px;
            @include xl-screen{
                font-size: 1.1em;
            }; 
        }
    }
    &__body2{
        display: inline-block;
        width: 13em;
        transform: translate(1em, -0.9em);

        // max-width: 575px;
        @include xs-screen{
            width: 6em;
        };

        // min-width: 568px;
        @include iphn-screen{
            transform: translate(1em, 0em);
            width: 9em;
        };

        // min-width: 768px;
        @include md-screen{
            width: 13em;
            transform: translate(1em, 1em);
        };

        // min-width: 992px;
        @include lg-screen{
            width: 7em;
            transform: translate(1em, -1em);
        };

        // min-width: 1200px;
        @include xl-screen{
            width: 11em;
            transform: translate(1em, -0.9em);
        };
        a{
            margin: 0 0 1em 0;
            color: $white;
            text-decoration: none;
            font-size: 1.3em;
            font-family: $heading-font;

            // max-width: 575px;
            @include xs-screen{
                font-size: 0.8em;
            }; 

            // min-width: 568px;
            @include iphn-screen{
                font-size: 1.3em;
            };

            // min-width: 992px;
            @include lg-screen{
                font-size: 1em;
            }; 

            // min-width: 1200px;
            @include xl-screen{
                font-size: 1.1em;
            }; 
        }
    }
    .date_time{
        transition: all 0.3s ease;
        font-size: 1em;
        color: $white;

        // max-width: 575px;
        @include xs-screen{
            font-size: 0.8em;
        };

        // min-width: 992px;
        @include lg-screen{
            font-size: 0.8em;
        };

        // min-width: 1200px;
        @include xl-screen{
            font-size: 0.8em;
        };
    }

    .card-img-overlay{
        background: linear-gradient(transparent, $black);
        margin: 11em 0 0 0;
        border-radius: 0;

        // max-width: 575px;
        @include xs-screen{
            margin: 14em 0 0 0;
        };

        // min-width: 568px;
        @include iphn-screen{
            margin: 14em 0 0 0;
        };

        // min-width: 1200px;
        @include xl-screen{
            margin: 11em 0 0 0;
        };
    }
    &__text{
        margin: 9em 0 0.5em 0;
        span{
            margin: 0 0;
            cursor: pointer;
            text-transform: capitalize;
            font-size: 0.7em;
            color: $white;
        }
        &-link{
            margin: 0 0;
            text-decoration: none !important;
            color: $white !important;
            font-family: $heading-font;
            font-size: 1.3em;

            // max-width: 575px;
            @include xs-screen{
                font-size: 1.1em;
            };

            // min-width: 568px;
            @include iphn-screen{
                font-size: 1.3em;
            };

            // min-width: 992px;
            @include lg-screen{
                font-size: 1.2em;
            };

            // min-width: 1200px;
            @include xl-screen{
                font-size: 1.5em;
            };
        }
    }
}